:root {
  --slot-size: 72px;
  --slot-gap: 0.25rem;

  --inventory-bg: #c6c6c6;
  --slot-bg: #8b8b8b;
  --slot-hover-bg: #9d9d9d;
  --inner-shadow-dark: #373737;
  --inner-shadow-light: #ffffff;
  --outer-border-colors: #ffffff #555555 #555555 #ffffff;
  --outline-color: #000000;

  --border-size2: calc(var(--slot-size) * 2 / 20);
  --border-size: calc(var(--slot-size) * 2 / 40);
  --inner-border-size: calc(var(--slot-size) * 2 / 40);
}

.inventory-container {
  background-color: var(--inventory-bg);
  padding: 1rem;
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  border: var(--border-size2) solid;
  border-color: var(--outer-border-colors);
  box-shadow: 0 0 0 var(--border-size) var(--outline-color);
}

.crafting-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--slot-gap) * 1);
  margin-bottom: var(--slot-gap);
}

.dicionario-grid {
  display: grid;
  grid-template-columns: repeat(2, var(--slot-size));
  gap: var(--slot-gap);
}

.crafting-grid {
  display: grid;
  grid-template-columns: repeat(3, var(--slot-size));
  gap: var(--slot-gap);
}

.result-slot {
  width: calc(var(--slot-size) * 1.5);
  height: var(--slot-size);
}

.main-inventory {
  display: grid;
  grid-template-columns: repeat(9, var(--slot-size));
}

.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  background-color: var(--slot-bg);
  width: var(--slot-size);
  height: var(--slot-size);
  position: relative;

  border-top: var(--inner-border-size) solid var(--inner-shadow-dark);
  border-left: var(--inner-border-size) solid var(--inner-shadow-dark);
  border-bottom: var(--inner-border-size) solid var(--inner-shadow-light);
  border-right: var(--inner-border-size) solid var(--inner-shadow-light);
}

.slot:hover {
  background-color: var(--slot-hover-bg);
}

.slot-dicionario {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  background-color: var(--slot-bg);
  width: var(--slot-size);
  height: var(--slot-size);
  position: relative;

  border-top: var(--inner-border-size) solid var(--inner-shadow-dark);
  border-left: var(--inner-border-size) solid var(--inner-shadow-dark);
  border-bottom: var(--inner-border-size) solid var(--inner-shadow-light);
  border-right: var(--inner-border-size) solid var(--inner-shadow-light);
}

.ui-draggable-dragging {
  z-index: 1;
}

/*Tablet*/
@media (max-width: 700px), (max-height: 730px) {
  :root {
    --slot-size: 64px;
    --slot-gap: 4px;
  }

  .inventory-container {
    margin-top: 100px;
  }

  .main-inventory {
    grid-template-columns: repeat(6, var(--slot-size));
  }
}

/*Short*/
@media (max-height: 820px) {
  .inventory-container {
    margin-top: 0px;
  }
}

/*Mobile Device*/
@media (max-width: 480px), (max-height: 700px) {
  :root {
    --slot-size: 52px;
    --slot-gap: 4px;
  }
}
