/* Dicionario */
.dicionario-container {
  background-color: var(--inventory-bg);
  display: inline-flex;
  flex-direction: column;
  border: var(--border-size2) solid;
  border-color: var(--outer-border-colors);
  box-shadow: 0 0 0 var(--border-size) var(--outline-color);
  padding: 20px 16px 16px 16px;
}

.dicionario-section {
  border: var(--border-size) solid var(--outline-color);
  background-color: #484848;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 418px;
}

.dicionario-grid {
  display: grid;
  grid-template-columns: repeat(3, var(--slot-size));
  padding: 15px 20px;
  gap: 12px;
}

.dicionario-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--slot-bg);
  width: var(--slot-size);
  height: var(--slot-size);
  position: relative;
  border-top: var(--inner-border-size) solid var(--inner-shadow-dark);
  border-left: var(--inner-border-size) solid var(--inner-shadow-dark);
  border-bottom: var(--inner-border-size) solid var(--inner-shadow-light);
  border-right: var(--inner-border-size) solid var(--inner-shadow-light);
}

.dicionario-icon {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #8b8b8b;
  border-top: var(--inner-border-size) solid var(--inner-shadow-dark);
  border-left: var(--inner-border-size) solid var(--inner-shadow-dark);
  border-bottom: var(--inner-border-size) solid var(--inner-shadow-light);
  border-right: var(--inner-border-size) solid var(--inner-shadow-light);
  outline: var(--inner-border-size) solid #cecdcc;
  box-shadow: 3px 3px 0 3px var(--outline-color);
}

.dicionario-icon:hover {
  box-shadow: 0 0 20px 10px rgb(255, 255, 255);
}

.search-icon {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #8e5d5d;
  border-top: var(--inner-border-size) solid #4F1B1B;
  border-left: var(--inner-border-size) solid #4F1B1B;
  border-bottom: var(--inner-border-size) solid #c14e4e;
  border-right: var(--inner-border-size) solid #c14e4e;
  outline: var(--inner-border-size) solid #862222;
  box-shadow: 3px 3px 0 3px var(--outline-color);
}

.icone-search{
  height: 50px;
  filter: grayscale();
  user-select: none;
}

.icone {
  height: 50px;
  user-select: none;
}

.text-dicionario {
  color: var(--text-color-primary);
  font-size: var(--text-large);
  text-align: right;
  line-height: 20px;
  margin-top: 10px;
}

.i {
  width: 68px;
  height: 68px;
}

.alinhado {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* Barra de Pesquisa */
.search-section {
  display: flex;
  align-items: center;
}

.search-container {
  margin: 10px;
  height: 50px;
  width: 180px;
  background-color: #000000;
  border: 4px solid #a8a8a8;
  padding: 10px;
  color: #a8a8a8;
  font-size: var(--text-medium);
}

input::placeholder {
  color: #a8a8a8;
  font-size: var(--text-medium);
}

/* Inventário */
.inv-container {
  background-color: var(--inventory-bg);
  display: inline-flex;
  flex-direction: column;
  border: var(--border-size2) solid;
  border-color: var(--outer-border-colors);
  box-shadow: 0 0 0 var(--border-size) var(--outline-color);
}

.inv-grid {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(9, var(--slot-size));
}

.crafting-section {
  margin: 59px 0px 52px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--slot-gap) * 1);
}

.crafting-grid {
  display: grid;
  grid-template-columns: repeat(2, var(--slot-size));
  gap: var(--slot-gap);
}

.seta {
  margin-right: 30px;
  margin-left: 30px;
  height: 46px;
  user-select: none;
}

.result-slot {
  width: calc(var(--slot-size) * 1.5);
  height: var(--slot-size);
}

.text-inv {
  color: var(--text-color-primary);
  font-size: var(--text-large);
  justify-content: center;
  text-align: center;
}

.text-inv2 {
  margin: -13px 16px;
  color: var(--text-color-primary);
  font-size: var(--text-large);
}

/* Slot */
.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--slot-bg);
  width: var(--slot-size);
  height: var(--slot-size);
  position: relative;
  border-top: var(--inner-border-size) solid var(--inner-shadow-dark);
  border-left: var(--inner-border-size) solid var(--inner-shadow-dark);
  border-bottom: var(--inner-border-size) solid var(--inner-shadow-light);
  border-right: var(--inner-border-size) solid var(--inner-shadow-light);
}

.slot:hover {
  background-color: var(--slot-hover-bg);
}

.slot-soltar {
  color: transparent;
}

.slot-soltar.preenchido {
  font-weight: bold;
}

.slot-soltar:hover {
  border-color: #007bff;
  background-color: #c0c0c0;
}

.ui-draggable-dragging {
  z-index: 1;
}
