body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    font-family: sans-serif;
    min-height: 100vh;
}

/*.slot-soltar {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}*/

.silaba {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: grab;
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.3), inset -2px -2px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    color: white;
    transition: transform 200ms;
    background-image: url(/assets/imagens/texture.png);
    background-size: cover;
    background-blend-mode: multiply;
}

.silaba:hover {
    transform: scale(1.1);
}

.silaba[tipo="B"] {
    background-color: #3498db;
}

.silaba[tipo="C"] {
    background-color: #2ecc71;
}

.silaba[tipo="D"] {
    background-color: #e74c3c;
}

.silaba[tipo="F"] {
    background-color: #f1c40f;
}

.silaba[tipo="G"] {
    background-color: #9b59b6;
}

.silaba[tipo="L"] {
    background-color: #e67e22;
}

.silaba[tipo="M"] {
    background-color: #a18479;
}

.silaba[tipo="P"] {
    background-color: #f164a8;
}

.silaba[tipo="S"] {
    background-color: #afb7b8;
}

.silaba[tipo="T"] {
    background-color: #1abc9c;
}

.slot-soltar {
    color: transparent;
}

.slot-soltar.preenchido {
    font-weight: bold;
}

.slot-soltar-hover {
    border-color: #007bff;
    background-color: #c0c0c0;
}

.controles {
    width: 100%;
    max-width: 680px;
}

.seta {
    margin-right: 30px;
    margin-left: 30px;
    height: 70px;
}

/*=========================================================================================================*/

.icone {
    height: 50px;
}


/* Estilo para os itens no dicionário */
.palavra-dicionario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.palavra-dicionario:hover {
    box-shadow: 0 0 20px 10px rgb(255, 255, 255);
}