@font-face {
    font-family: 'pixel';
    src: url(../assets/pixel-font.ttf);
    font-weight: bold;
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: pixel;
    min-height: 100vh;
}

.silaba {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;
    line-height: 3.5rem;

    font-size: 1.3rem;
    font-weight: bold;
    font-family: pixel;
    cursor: grab;

    border: 0.26rem solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.3), inset -2px -2px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);

    color: white;
    background-image: url(../assets/images/texture.png);
    background-size: cover;
    background-blend-mode: multiply;
    user-select: none;
}

.silaba:active {
    animation: jelly 960ms linear both;
}

.silaba[tipo="B"] {
    background-color: #3498db;
}

.silaba[tipo="C"] {
    background-color: #2ecc71;
}

.silaba[tipo="D"] {
    background-color: #e74c3c;
}

.silaba[tipo="F"] {
    background-color: #f1c40f;
}

.silaba[tipo="G"] {
    background-color: #9b59b6;
}

.silaba[tipo="L"] {
    background-color: #e67e22;
}

.silaba[tipo="M"] {
    background-color: #a18479;
}

.silaba[tipo="P"] {
    background-color: #f164a8;
}

.silaba[tipo="S"] {
    background-color: #afb7b8;
}

.silaba[tipo="T"] {
    background-color: #1abc9c;
}

.slot-soltar {
    color: transparent;
}

.slot-soltar.preenchido {
    font-weight: bold;
}

.slot-soltar-hover {
    border-color: #007bff;
    background-color: #c0c0c0;
}

.controles {
    width: 100%;
    max-width: 680px;
}

.seta {
    margin-right: 30px;
    margin-left: 30px;
    height: 46px;
    user-select: none;
}

/*=========================================================================================================*/

.icone {
    height: 50px;
    user-select: none;
}


/* Estilo para os itens no dicionário */
.palavra-dicionario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.palavra-dicionario:hover {
    box-shadow: 0 0 20px 10px rgb(255, 255, 255);
}

/*=========================================================================================================*/